.about {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: lightskyblue;
}
.first-section {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}