.projects {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: lightblue;
}
.THC-project {
    height: 1700px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}

.stommel {
    padding: 5px;
    width: 40%;
    height: 250px;
    float: right;
}

.salinity {
    padding: 5px;
    width: 40%;
    height: 250px;
    float: left;
}

.circulation {
    padding: 5px;
    width: 40%;
    height: 250px;
    float: right;
}

.eu-temp {
    padding: 5px;
    width: 40%;
    height: 250px;
    float: left;
}

.eu-circ {
    padding: 5px;
    width: 40%;
    height: 250px;
    float: right;
}

.atm-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b7cfd8;
}

.orb-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}

.nasa-data-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b7cfd8;
}

.gbm-project {
    height: 1200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}

.weather-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b7cfd8;
}

.portfolio-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}

.codility-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b7cfd8;
}

.dm-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}

.vortex-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b7cfd8;
}

.codedex-project {
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    background: #b4d3de;
}